/* Aula inicial :D */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ../ para sair da pasta css e entrar na img */
body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title, 
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
    
  }

  .img-portfolio {
    width: 180px;
    height: 180px;
  }