/* Aula inicial :D */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ../ para sair da pasta css e entrar na img */
body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12pt;
  }

  /* Se a tela tiver pelo menos 400px, vai carregar esses estilos: */
  @media (min-width: 400px) {
    body {
      font-size: 14pt;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0
  }

  .menu a {
    /* background-color: aquamarine; */
    display: block;
    padding: 10px 40px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-title, 
  .site-subtitle {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    line-height: 1.8em;
  }

  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;  
    object-fit: cover;
    object-position: left bottom;
  
  }

  .contato h2,
  .portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }

  .portfolio .grid {
    display: grid;
    gap: 1em;
    
  }

  @media(min-width: 710px) {
    .portfolio .grid {
      grid-template-columns: 300px 330px;
      justify-content: center;
    }
  }

  @media(min-width: 1040px) {
    .portfolio .grid {
      grid-template-columns: 300px 330px 300px;
      align-content: center;
      justify-content: center;
      height: calc(100vh - 3em - 48px);
      
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    width: 300px;
    height:200px;
    border-radius: 5px;
  }

  .contato a {
    color: whitesmoke;
    font-size: 3em;
  }

  .contato a:hover {
    text-decoration: none;
  }


  